<div id="whoIAm" class="card">
    <div class="card-head d-flex justify-content-center" id="setBackground">
        <img src="../assets/me.jpg" alt="something" class="rounded-circle my-3" id="me">
    </div>
    <div class="card-body bg-light d-flex flex-column align-items-center pt-5">
        <h4 class="text-primary"> Jonathan </h4>
        <p> Angular Developer </p>
        <div>
            <button class="btn bg-primary text-white rounded-circle mr-2"><i class="fa fa-twitter"></i></button>
            <button class="btn bg-primary text-white rounded-circle mr-2"><i class="fa fa-facebook"></i></button>
            <button class="btn bg-primary text-white rounded-circle mr-2"><i class="fa fa-linkedin"></i></button>
        </div>
    </div>
</div>

<router-outlet></router-outlet>

<app-dependency></app-dependency>

<app-directive></app-directive>
